<nav id="menu_header" class="navbar navbar-default no-border">
  <span class="left-middle-align">
    <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral-labs.png" height="40"></a></span>&nbsp;&nbsp;
    <span class="title">Social Messaging Demo</span>
  </span>
  <ul class="nav navbar-nav navbar-right middle-align">
    <li><span>Hi <b><%- userName %></b></span></li>
    <li><span>|</span></li>
    <li><a href="#" onclick="logout()">Logout</a></li>
  </ul>
</nav>
